<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISummator" />
        <binding name="BasicHttpBinding_ISummator1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISummator" />
        <binding name="NetTcpBinding_ISummator1" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/Summator.Summator" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISummator" contract="Summator.ISummator"
        name="BasicHttpBinding_ISummator" />
      <endpoint address="net.tcp://localhost:45617/Summator.Summator"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISummator"
        contract="Summator.ISummator" name="NetTcpBinding_ISummator">
        <identity>
          <userPrincipalName value="DESKTOP-VRFDSCM\User" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8080/Summator.Summator" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISummator1" contract="ServiceReference1.ISummator"
        name="BasicHttpBinding_ISummator1" />
      <endpoint address="net.tcp://localhost:45617/Summator.Summator"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISummator1"
        contract="ServiceReference1.ISummator" name="NetTcpBinding_ISummator1">
        <identity>
          <userPrincipalName value="DESKTOP-VRFDSCM\User" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>